.landing-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 5%; /* Adds some space on the left and right sides */
}

/* .content {
  
} */

.header-image {
    width: 90%; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio of the image */
}

.content-text {
    font-size: 1.5rem; 
    margin-top: 20px;
    line-height: 35px;
}

.title {
    font-size: 3.5rem; /* Adjust title size */
    margin-bottom: 5%; /* Adds space between the title and text */
}
