body {
    margin: 0;
  
   font-family: inter !important;
    }

    @font-face {
        font-family:inter ;
        src: url("../public/Inter/Inter-VariableFont_opsz,wght.ttf");
    }
    * {
    box-sizing: border-box;
    }
    .form-heading{

        padding: 20px;
    }