.app-container {
  padding: 20px;

 margin :65px 0px;
}
.title{
  font-family: inter-bold !important;

  font-size: 46px;
  font-weight: 800;
  font-style: normal;
  
  color: white;
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #252b43;
  color: white;  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
